
span{
	color: #000;
}

.form_container{
}

.login_wraper{
	background-color: #1A2432;
	padding: 10px 0px 10px 0px;
}

.login_form{
	width: 650px;
	margin: 14% auto;
	background-color: #253344;
	border-radius: 10px;
}

.form_title{
	width: 650px;
	height: 65px;
	background-color: #104D65;
	color: #CFD7DA;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	overflow: hidden;
}

.form_title h2{
	margin: 20px auto;
}

.form_content{
	overflow: hidden;
	margin-top: 20px;
	padding: 20px 10px;
}

.content_area{
	width: 300px;
	margin: 0px auto;
	margin-top: 10px;
	/* background-color: #C0C0C0; */
}
.content_area input{
	width: 100%;
  border: 0px;
  font-size: 14px;
	/* background-color: #C0C0C0; */
}
.content_area input[placeholder]{
	padding: 10px;
}

.content3{
	width: 300px;
  margin: 15px auto;
	margin-top: 20px;
}

.content3 input{
	padding: 8px 20px;
	background-color: #2d8659;
	border: 0px;
	font-size: 16px;
	cursor: pointer;
	color: #d9d9d9;
}

.content3 input:hover{
	background-color: #339966;
	color: #ffffff;
}
