
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div class="header_wraper">
      <div class="header container_center">
        <div class="logo">
          <!-- <a href="#"><img src="images/logo.png" alt="Logo" /></a> -->
					<a href="#"><h2>Online School</h2></a>
				</div>

				<div class="social_media">
          <!-- <ul>
						<li><a href="#"><img src="images/icon/facebook.png" alt="Facebook" /></a></li>
						<li><a href="#"><img src="images/icon/twitter.png" alt="Twitter" /></a></li>
						<li><a href="#"><img src="images/icon/linkedin.png" alt="LinkedIn" /></a></li>
						<li><a href="#"><img src="images/icon/youtube.png" alt="Youtube" /></a></li>
						<li><a href="#"><img src="images/icon/skype.png" alt="Skype" /></a></li>
					</ul> -->
				</div>
			</div>
		</div>

    <div class="nav_wraper">
			<div class="nav container_center">
				<div class="menu_left">
						<ul>
							<li><a href="#" id="active" >Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Academic</a></li>
							<li><a href="#">Admission</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
				</div>

				<div class="menu_right">
					<ul>
						<li><a href="/login/login"> &#x27A4; Login</a></li>
					</ul>
				</div>
      </div>
    </div>

    <div class="footer_wraper">
      <div class="footer">
        <div class="footer_top">
          <div class="top container_center">
  				  <div class="footer_top_title">
  					  <h3>Our Team Members</h3>
  				  </div>
  					<div class="team">
  					  <div class="member">
  						  <img src="/images/team/alamin.jpg" alt="Alamin" />
  						  <h3>Md Alamin <br/> Developer & Designer</h3>
  						  <ul>
  							  <li><a href="#"><img src="/images/icon/facebook.png" alt="Facebook" /></a></li>
  							  <li><a href="#"><img src="/images/icon/twitter.png" alt="Twitter" /></a></li>
  							  <li><a href="#"><img src="/images/icon/linkedin.png" alt="LinkedIn" /></a></li>
  						  </ul>
  					  </div>
  					  <div class="member">
  						  <img src="/images/team/bodrul.jpg" alt="Bodrul" />
  						  <h3>Bodrul Islam <br/> Designer & Developer</h3>
  						  <ul>
  							  <li><a href="#"><img src="/images/icon/facebook.png" alt="Facebook" /></a></li>
  							  <li><a href="#"><img src="/images/icon/twitter.png" alt="Twitter" /></a></li>
  							  <li><a href="#"><img src="/images/icon/linkedin.png" alt="LinkedIn" /></a></li>
  						  </ul>
  					  </div>
  					  <div class="member">
  						  <img src="/images/team/siddique.jpg" alt="Siddique" />
  						  <h3>Abu Bakar <br/> Manager & Designer</h3>
  						  <ul>
  							  <li><a href="#"><img src="/images/icon/facebook.png" alt="Facebook" /></a></li>
  							  <li><a href="#"><img src="/images/icon/twitter.png" alt="Twitter" /></a></li>
  							  <li><a href="#"><img src="/images/icon/linkedin.png" alt="LinkedIn" /></a></li>
  						  </ul>
  					  </div>
  					</div>
  				</div>
  			</div>
  			<div class="footer_bottom">
  			  <div class=" bottom container_center">
  				  <p>Copyright 2018-19 &copy; onlineschool.com <br/> &reg All Right Reserved</p>
  	  		</div>
  			</div>
  		</div>
  	</div>
  </body>
</html>
