
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h3>Welcome, <b><%= uid %></b> </h3>
    <br>
    <a href="/logout">logout</a>
  </body>
</html>
